Welcome!
<br></br>
<a href="/restaurants">View Restaurants </a>
<br></br>
<a href="/restaurants/new">Create New Restaurant</a>
<br></br>
<a href="/menus">View Menus</a>
<br></br>
<a href="/menus/new">Create New Menu</a>
<br></br>
<a href="/menuItems">View Menu Items</a>
