Create a New Menu!
<br></br>

<form action="/menus" method="post">
      <label for="name">Name</label>
      <br>
      <input type="text" id="title" name="title" required placeholder="Enter Title"> 
      <br>
      <input type="submit" text="Submit">